# Dependencies
node_modules/

# SvelteKit
.svelte-kit/
build/
dist/

# Environment
.env
.env.local

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Debug
npm-debug.log*
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
